In [87]:
import pandas as pd

In [88]:
!ls

1. EDA.ipynb                    final_user_browsing_history.csv
2. Feature Engineering.ipynb    final_user_data.csv
Project.ipynb                   tajriba.categories.json
adventures_data_final.csv       tajriba.personalities.json
experiences_data_final.csv      tours_data_final.csv
final_tours_and_adventures.csv  user_interactions_scored.csv

In [89]:
users = pd.read_csv('final_user_data.csv')
browsing_data = pd.read_csv('final_user_browsing_history.csv')
experiences = pd.read_csv('experiences_data_final.csv')
adventures = pd.read_csv('adventures_data_final.csv')
tours = pd.read_csv('tours_data_final.csv')

In [90]:
users.head()

,user,age,gender,accomodation_preference,avg_accomodation_cost,transport_preference,avg_transport_cost,safari,art,food,history,nature,outdoors,sports,culture,drinks,entertainment,wellness
0,1,35.0,Male,Hotel,1200,Flight,600,2.02,1.54,1.80,1.90,1.90,1.86,1.39,1.79,5.00,2.03,1.40
1,2,28.0,Female,Resort,800,Flight,500,2.66,0.76,2.82,0.88,0.87,2.17,0.77,2.80,0.94,2.74,0.87
2,3,45.0,Male,Villa,1000,Flight,700,2.02,1.39,1.59,2.10,2.10,1.62,2.73,1.59,1.41,2.04,5.00
3,4,29.0,Female,Hotel,2000,Flight,1000,2.62,1.07,3.89,1.42,1.44,3.26,0.00,5.00,0.89,3.24,0.00
4,5,26.0,Female,Airbnb,700,Train,200,2.01,0.97,2.04,1.89,5.00,2.89,0.98,3.95,0.61,3.19,0.81

In [91]:
browsing_data

,user_id,experience_id,viewed,liked,shared,bucketlist,purchased,attended,createdAt,score
0,1,64fc9b6b3d690a3e195ee90a,1,0,0,0,0,0,2023-06-19 17:27:13,0
1,1,6507ee68313443081a27234a,1,0,0,0,0,0,2023-04-17 17:09:01,0
2,1,64fc7a953d690a3e195ee83c,1,0,0,0,0,0,2023-07-07 03:12:35,0
3,1,64fc2511148fd2e0b23d5031,1,0,0,0,0,0,2023-07-28 18:45:59,0
4,1,64fc2511148fd2e0b23d5031,1,1,1,1,1,0,2023-03-21 13:53:34,4
...,...,...,...,...,...,...,...,...,...,...
2164,139,64fc9b6b3d690a3e195ee90a,1,1,0,0,0,0,2023-03-30 15:49:32,1
2165,139,64fc90f13d690a3e195ee8e0,1,0,1,0,0,0,2023-09-28 04:13:18,1
2166,139,64fc90f13d690a3e195ee8e0,1,1,0,0,0,0,2023-05-31 01:21:20,1
2167,139,64fc90f13d690a3e195ee8e0,1,1,0,1,0,0,2023-04-02 06:27:46,2
2168,139,64fc46763d690a3e195ee6c6,1,0,0,0,0,0,2023-08-21 01:24:56,0

In [92]:
experiences.head()

,_id,name,description,coverImage,featured,adventureLevel,price,categories,personality,ratingsAverage,signatureSelection
0,{'$oid': '64dfb10e7792cee05d3328d3'},Wasini Day Trip,Look for dolphins as you cruise the Indian Oce...,https://firebasestorage.googleapis.com/v0/b/ta...,gold,5.0,6500,"[{'$oid': '649d70292abb045a8a87dd55'}, {'$oid'...",[{'$oid': '64ae8f3995b15f2ab76b8383'}],4.5,NaN
1,{'$oid': '64fc2511148fd2e0b23d5031'},Game Drive at Nairobi National Park,Experience the best of both worlds at Nairobi ...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"[{'$oid': '649d70292abb045a8a87dd4c'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8378'}, {'$oid'...",4.5,NaN
2,{'$oid': '64fc3d483d690a3e195ee6a4'},Out of Africa Experience : Karen Blixen Museum,Step into the captivating world of Karen Blixe...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,4.0,5555,"[{'$oid': '649d70292abb045a8a87dd52'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8385'}, {'$oid'...",4.5,NaN
3,{'$oid': '64fc46763d690a3e195ee6c6'},Lunch with Elephants : Sheldrick Wildlife Trust,Embark on a transformative journey at the Shel...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"[{'$oid': '649d70292abb045a8a87dd53'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8388'}, {'$oid'...",4.5,NaN
4,{'$oid': '64fc4dd63d690a3e195ee6ee'},Nairobi National Museum Tour,Explore the wonders of Kenya's rich heritage a...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,4.5,5555,"[{'$oid': '649d70292abb045a8a87dd4d'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b837b'}, {'$oid'...",4.5,NaN

In [93]:
adventures

,_id,adventureName,description,coverImage,price
0,{'$oid': '651873891033806d110d5479'},Mombasa Coastal Explorer,Explore the beautiful coastal treasures of Mom...,https://i.imgur.com/E4Xiiys.png,22000
1,{'$oid': '651874721033806d110d547d'},Mombasa Cultural Delight,Immerse yourself in the rich Swahili culture o...,https://i.imgur.com/Bonjsdh.png,32100
2,{'$oid': '651874e31033806d110d547f'},Mombasa Wildlife Safari,Embark on an unforgettable wildlife safari in ...,https://i.imgur.com/iYyP6G0.png,21500
3,{'$oid': '6518753c1033806d110d5481'},Mombasa Beach Paradise,Experience the epitome of luxury on Mombasa's ...,https://i.imgur.com/gmxprr0.jpg,32000
4,{'$oid': '651875711033806d110d5483'},Mombasa Island Retreat,Escape to an exclusive island retreat in Momba...,https://i.imgur.com/8xXiQll.png,42500
5,{'$oid': '6518762c1033806d110d5485'},Nairobi Safari Expedition,Embark on a thrilling safari adventure in Nair...,https://independenttravelcats.com/wp-content/u...,21000
6,{'$oid': '651876511033806d110d5487'},Nairobi Cultural Exploration,Discover the rich cultural diversity of Nairob...,https://editions.thediscoverer.com/97/images/3...,17000
7,{'$oid': '651876b91033806d110d5489'},Nairobi Wildlife Conservation,Participate in wildlife conservation efforts i...,https://www.andbeyond.com/wp-content/uploads/s...,18000
8,{'$oid': '651876e11033806d110d548b'},Nairobi Culinary Safari,Embark on a culinary journey through Nairobi. ...,https://migrationology.com/wp-content/uploads/...,17000
9,{'$oid': '651877131033806d110d548d'},Nairobi Art & Culture Tour,Explore Nairobi's vibrant art scene and cultur...,https://static01.nyt.com/images/2018/06/13/art...,13500
10,{'$oid': '6518777c1033806d110d548f'},Diani Beach Retreat,Escape to the pristine beaches of Diani. Enjoy...,https://cf.bstatic.com/xdata/images/hotel/max1...,19500
11,{'$oid': '6518779c1033806d110d5491'},Diani Safari and Beach Combo,Experience the best of both worlds with a safa...,https://visitdiani.com/wp-content/uploads/site...,19500
12,{'$oid': '651878091033806d110d5493'},Diani Water Sports Extravaganza,Dive into thrilling water sports and enjoy the...,https://www.thesandsatnomad.com/wp-content/upl...,22000
13,{'$oid': '651878301033806d110d5495'},Diani Wellness Retreat,"Rejuvenate your mind, body, and soul with a we...",https://dynamic-media-cdn.tripadvisor.com/medi...,21000
14,{'$oid': '6518785c1033806d110d5497'},Malindi Coastal Exploration,Embark on a coastal adventure in the beautiful...,https://yellowzebrasafaris.com/media/46756/aer...,18500
15,{'$oid': '651878c61033806d110d5499'},Malindi Marine Safari,Explore the underwater wonders of Malindi's ma...,https://ichef.bbci.co.uk/news/976/cpsprodpb/17...,18000
16,{'$oid': '651878e71033806d110d549b'},Malindi Cultural Immersion,Experience the vibrant culture of Malindi thro...,https://eastafricanretreats.com/wp-content/upl...,16500
17,{'$oid': '6518792a1033806d110d549d'},Watamu Coastal Retreat,Relax and unwind on the pristine beaches of Wa...,https://ajkenyasafaris.com/wp-content/uploads/...,23500
18,{'$oid': '651879751033806d110d549f'},Watamu Island Paradise,Embark on a journey to Watamu Island and exper...,"https://res.cloudinary.com/enchanting/q_70,f_a...",21400
19,{'$oid': '651879ac1033806d110d54a1'},Lamu Island Serenity,"Experience the tranquility of Lamu Island, its...",https://www.awaygowe.com/wp-content/uploads/20...,19500
20,{'$oid': '651879cc1033806d110d54a3'},Lamu Cultural Odyssey,"Immerse yourself in Lamu's unique culture, his...",https://www.lamuholiday.com/swahili-culture/sw...,16700
21,{'$oid': '65187a131033806d110d54a5'},Lamu Island Paradise Retreat,Escape to a secluded paradise on Lamu Island a...,https://themajlisresorts.com/wp-content/upload...,29300
22,{'$oid': '65187a611033806d110d54a7'},Lamu Sailing Expedition,Embark on a sailing adventure in Lamu's turquo...,https://images.squarespace-cdn.com/content/v1/...,29800
23,{'$oid': '65187b1d1033806d110d54a9'},Kilifi Beach Getaway,Relax on the stunning beaches of Kilifi and im...,https://images.squarespace-cdn.com/content/v1/...,27000
24,{'$oid': '65187b6a1033806d110d54ab'},Kilifi Coastal Safari,Embark on a coastal safari adventure in Kilifi...,https://shanzubeachfront.com/wp-content/upload...,27000
25,{'$oid': '65187bab1033806d110d54ad'},Kilifi Cultural Immersion,Experience the rich culture of Kilifi through ...,https://farm9.staticflickr.com/8471/2981154107...,16000

In [94]:
tours

,name,imageCover,ratingsAverage,ratingsQuantity,price,tour_data,getting_there_data
0,4-Day Great Migration at Masai Mara Budget Safari,https://cloudfront.safaribookings.com/lib/keny...,5.0,2,550,{'overview': {'route_description': 'Witness an...,"['This tour starts and ends in Nairobi', 'This..."
1,3-Day 2Nights Amboseli National Park Aa Lodge ...,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,540,{'overview': {'route_description': 'This amazi...,"['This tour starts and ends in Nairobi', 'Book..."
2,4-Day Budget Tour to Lake Nakuru and Masai Mara,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,765,{'overview': {'route_description': 'Experience...,"['This tour starts and ends in Nairobi', ""This..."
3,"4-Day Masai Mara, Lake Nakuru National Park Lo...",https://cloudfront.safaribookings.com/lib/keny...,5.0,6,1080,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', ""This..."
4,3-Day Maasai Mara Mid-Range Safari(Group Joini...,https://cloudfront.safaribookings.com/lib/keny...,4.3,6,530,"{'overview': {'route_description': ""Enjoy thri...","['This tour starts and ends in Nairobi', 'This..."
...,...,...,...,...,...,...,...
72,13-Day Kenya Safari and Zanzibar Holiday,https://cloudfront.safaribookings.com/lib/keny...,5.0,131,4335,"{'overview': {'route_description': ""This luxur...","['This tour starts in Nairobi, Kenya and ends ..."
73,3-Day Masai Mara Midrange Game Package,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,578,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', 'This..."
74,"5-Day Lake Naivasha, Lake Nakuru & Maasai Mara...",https://cloudfront.safaribookings.com/lib/tanz...,5.0,6,1220,{'overview': {'route_description': 'This tour ...,"['This tour starts and ends in Nairobi', 'Book..."
75,3-Day Maasai Mara Small Group Safari - Jambo M...,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,480,"{'overview': {'route_description': ""Experience...","['This tour starts and ends in Nairobi', 'Book..."
76,"8-Day Amboseli, Lake Naivasha, Lake Nakuru & M...",https://cloudfront.safaribookings.com/lib/keny...,0.0,0,2130,{'overview': {'route_description': 'On this 8 ...,"['This tour starts and ends in Nairobi', 'Book..."

In [95]:
tours['tour_data'][0]

"{'overview': {'route_description': 'Witness an amazing annual event of the great migration. Naming one of the seven wonders of the world, this mass movement of wildlife is a spectacle like no other. Enjoy the most dramatic episode which is the perilous crossing of the Mara River by thunderous swarms of wildebeests. It’s the stage for a gripping, life-and-death scene where the wildebeests must survive the danger of the water’s currents, the stampede of its own herd, and the jaws of the Nile crocodiles that lie in wait.', 'route_data': [{'day_0': {'days': 'Start', 'days_route': 'Nairobi (Day 1)'}, 'day_1': {'days': 'Day 1-3', 'days_route': 'Masai Mara NR'}, 'day_2': {'days': 'End', 'days_route': 'Nairobi (City) (Day 4)'}}], 'tour_features': [{'feature_0': {'title': 'Budget tour', 'description': 'This budget tour uses tented camps.'}, 'feature_1': {'title': 'Shared tour', 'description': 'On this shared tour, you will join a group of other travelers. Max 8 people per vehicle.'}, 'feature_2': {'title': 'Can start any day', 'description': 'If availability permits, this tour can start on any day.'}, 'feature_3': {'title': 'Can be customized', 'description': 'You can request changes to this tour.'}, 'feature_4': {'title': 'Suitable for single travelers', 'description': 'Single travelers can join this group tour, but  it requires a minimum of 4 people to run.'}, 'feature_5': {'title': 'Minimum age of 1 year', 'description': 'The minimum age for this tour is 1 year.'}}], 'activities_and_transportation': ['Activities: game drives', 'Game drives: pop-up roof 4x4 vehicle & pop-up roof minivan', 'Getting around: pop-up roof 4x4 vehicle & pop-up roof minivan', 'This operator can book your international flights help', 'A transfer from and back to the airport is included'], 'accomodaton_and_meals': [{'accomodation_0': {'day': '4', 'accommodation': {'title': 'End of tour(No accommodation)                                                                                    – Breakfast & Lunch Included', 'description': '(No accommodation)', 'image': '\\n                                                                                End of tour(No accommodation)\\n\\n\\n                                                                                    – Breakfast & Lunch Included\\n                                                                                    \\n'}, 'meals': 'Breakfast & Lunch Included'}}]}}"

In [96]:
# Import the ast module to safely evaluate the string as a Python literal
import ast  

tours['description'] = tours['tour_data'].apply(lambda x: ast.literal_eval(x)['overview']['route_description'])

tours.head()

,name,imageCover,ratingsAverage,ratingsQuantity,price,tour_data,getting_there_data,description
0,4-Day Great Migration at Masai Mara Budget Safari,https://cloudfront.safaribookings.com/lib/keny...,5.0,2,550,{'overview': {'route_description': 'Witness an...,"['This tour starts and ends in Nairobi', 'This...",Witness an amazing annual event of the great m...
1,3-Day 2Nights Amboseli National Park Aa Lodge ...,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,540,{'overview': {'route_description': 'This amazi...,"['This tour starts and ends in Nairobi', 'Book...","This amazing wild safari tour covers 3days, 2n..."
2,4-Day Budget Tour to Lake Nakuru and Masai Mara,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,765,{'overview': {'route_description': 'Experience...,"['This tour starts and ends in Nairobi', ""This...",Experience abundant wildlife (including the Bi...
3,"4-Day Masai Mara, Lake Nakuru National Park Lo...",https://cloudfront.safaribookings.com/lib/keny...,5.0,6,1080,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', ""This...",The Masai Mara National Reserve is located in ...
4,3-Day Maasai Mara Mid-Range Safari(Group Joini...,https://cloudfront.safaribookings.com/lib/keny...,4.3,6,530,"{'overview': {'route_description': ""Enjoy thri...","['This tour starts and ends in Nairobi', 'This...",Enjoy thrilling 3 days Masai Mara Safari start...

In [97]:
tours

,name,imageCover,ratingsAverage,ratingsQuantity,price,tour_data,getting_there_data,description
0,4-Day Great Migration at Masai Mara Budget Safari,https://cloudfront.safaribookings.com/lib/keny...,5.0,2,550,{'overview': {'route_description': 'Witness an...,"['This tour starts and ends in Nairobi', 'This...",Witness an amazing annual event of the great m...
1,3-Day 2Nights Amboseli National Park Aa Lodge ...,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,540,{'overview': {'route_description': 'This amazi...,"['This tour starts and ends in Nairobi', 'Book...","This amazing wild safari tour covers 3days, 2n..."
2,4-Day Budget Tour to Lake Nakuru and Masai Mara,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,765,{'overview': {'route_description': 'Experience...,"['This tour starts and ends in Nairobi', ""This...",Experience abundant wildlife (including the Bi...
3,"4-Day Masai Mara, Lake Nakuru National Park Lo...",https://cloudfront.safaribookings.com/lib/keny...,5.0,6,1080,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', ""This...",The Masai Mara National Reserve is located in ...
4,3-Day Maasai Mara Mid-Range Safari(Group Joini...,https://cloudfront.safaribookings.com/lib/keny...,4.3,6,530,"{'overview': {'route_description': ""Enjoy thri...","['This tour starts and ends in Nairobi', 'This...",Enjoy thrilling 3 days Masai Mara Safari start...
...,...,...,...,...,...,...,...,...
72,13-Day Kenya Safari and Zanzibar Holiday,https://cloudfront.safaribookings.com/lib/keny...,5.0,131,4335,"{'overview': {'route_description': ""This luxur...","['This tour starts in Nairobi, Kenya and ends ...",This luxury holiday offers first-class safari ...
73,3-Day Masai Mara Midrange Game Package,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,578,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', 'This...",The Masai Mara plains are full of wildebeest d...
74,"5-Day Lake Naivasha, Lake Nakuru & Maasai Mara...",https://cloudfront.safaribookings.com/lib/tanz...,5.0,6,1220,{'overview': {'route_description': 'This tour ...,"['This tour starts and ends in Nairobi', 'Book...",This tour allows you to traverse on the floor ...
75,3-Day Maasai Mara Small Group Safari - Jambo M...,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,480,"{'overview': {'route_description': ""Experience...","['This tour starts and ends in Nairobi', 'Book...",Experience a safari that covers Kenya's best p...
76,"8-Day Amboseli, Lake Naivasha, Lake Nakuru & M...",https://cloudfront.safaribookings.com/lib/keny...,0.0,0,2130,{'overview': {'route_description': 'On this 8 ...,"['This tour starts and ends in Nairobi', 'Book...",On this 8 Day Safari you will be visiting Ambo...

In [98]:
tours['name'] = tours['name'].str.split(n=1).str[1]
tours

,name,imageCover,ratingsAverage,ratingsQuantity,price,tour_data,getting_there_data,description
0,Great Migration at Masai Mara Budget Safari,https://cloudfront.safaribookings.com/lib/keny...,5.0,2,550,{'overview': {'route_description': 'Witness an...,"['This tour starts and ends in Nairobi', 'This...",Witness an amazing annual event of the great m...
1,2Nights Amboseli National Park Aa Lodge Amboseli,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,540,{'overview': {'route_description': 'This amazi...,"['This tour starts and ends in Nairobi', 'Book...","This amazing wild safari tour covers 3days, 2n..."
2,Budget Tour to Lake Nakuru and Masai Mara,https://cloudfront.safaribookings.com/lib/keny...,5.0,1,765,{'overview': {'route_description': 'Experience...,"['This tour starts and ends in Nairobi', ""This...",Experience abundant wildlife (including the Bi...
3,"Masai Mara, Lake Nakuru National Park Lodge Sa...",https://cloudfront.safaribookings.com/lib/keny...,5.0,6,1080,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', ""This...",The Masai Mara National Reserve is located in ...
4,Maasai Mara Mid-Range Safari(Group Joining Saf...,https://cloudfront.safaribookings.com/lib/keny...,4.3,6,530,"{'overview': {'route_description': ""Enjoy thri...","['This tour starts and ends in Nairobi', 'This...",Enjoy thrilling 3 days Masai Mara Safari start...
...,...,...,...,...,...,...,...,...
72,Kenya Safari and Zanzibar Holiday,https://cloudfront.safaribookings.com/lib/keny...,5.0,131,4335,"{'overview': {'route_description': ""This luxur...","['This tour starts in Nairobi, Kenya and ends ...",This luxury holiday offers first-class safari ...
73,Masai Mara Midrange Game Package,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,578,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', 'This...",The Masai Mara plains are full of wildebeest d...
74,"Lake Naivasha, Lake Nakuru & Maasai Mara Mid-R...",https://cloudfront.safaribookings.com/lib/tanz...,5.0,6,1220,{'overview': {'route_description': 'This tour ...,"['This tour starts and ends in Nairobi', 'Book...",This tour allows you to traverse on the floor ...
75,Maasai Mara Small Group Safari - Jambo Mara Lodge,https://cloudfront.safaribookings.com/lib/keny...,0.0,0,480,"{'overview': {'route_description': ""Experience...","['This tour starts and ends in Nairobi', 'Book...",Experience a safari that covers Kenya's best p...
76,"Amboseli, Lake Naivasha, Lake Nakuru & Masai Mara",https://cloudfront.safaribookings.com/lib/keny...,0.0,0,2130,{'overview': {'route_description': 'On this 8 ...,"['This tour starts and ends in Nairobi', 'Book...",On this 8 Day Safari you will be visiting Ambo...

In [99]:
adventures.loc[:, 'price'] = adventures['price'] * 100

adventures

,_id,adventureName,description,coverImage,price
0,{'$oid': '651873891033806d110d5479'},Mombasa Coastal Explorer,Explore the beautiful coastal treasures of Mom...,https://i.imgur.com/E4Xiiys.png,2200000
1,{'$oid': '651874721033806d110d547d'},Mombasa Cultural Delight,Immerse yourself in the rich Swahili culture o...,https://i.imgur.com/Bonjsdh.png,3210000
2,{'$oid': '651874e31033806d110d547f'},Mombasa Wildlife Safari,Embark on an unforgettable wildlife safari in ...,https://i.imgur.com/iYyP6G0.png,2150000
3,{'$oid': '6518753c1033806d110d5481'},Mombasa Beach Paradise,Experience the epitome of luxury on Mombasa's ...,https://i.imgur.com/gmxprr0.jpg,3200000
4,{'$oid': '651875711033806d110d5483'},Mombasa Island Retreat,Escape to an exclusive island retreat in Momba...,https://i.imgur.com/8xXiQll.png,4250000
5,{'$oid': '6518762c1033806d110d5485'},Nairobi Safari Expedition,Embark on a thrilling safari adventure in Nair...,https://independenttravelcats.com/wp-content/u...,2100000
6,{'$oid': '651876511033806d110d5487'},Nairobi Cultural Exploration,Discover the rich cultural diversity of Nairob...,https://editions.thediscoverer.com/97/images/3...,1700000
7,{'$oid': '651876b91033806d110d5489'},Nairobi Wildlife Conservation,Participate in wildlife conservation efforts i...,https://www.andbeyond.com/wp-content/uploads/s...,1800000
8,{'$oid': '651876e11033806d110d548b'},Nairobi Culinary Safari,Embark on a culinary journey through Nairobi. ...,https://migrationology.com/wp-content/uploads/...,1700000
9,{'$oid': '651877131033806d110d548d'},Nairobi Art & Culture Tour,Explore Nairobi's vibrant art scene and cultur...,https://static01.nyt.com/images/2018/06/13/art...,1350000
10,{'$oid': '6518777c1033806d110d548f'},Diani Beach Retreat,Escape to the pristine beaches of Diani. Enjoy...,https://cf.bstatic.com/xdata/images/hotel/max1...,1950000
11,{'$oid': '6518779c1033806d110d5491'},Diani Safari and Beach Combo,Experience the best of both worlds with a safa...,https://visitdiani.com/wp-content/uploads/site...,1950000
12,{'$oid': '651878091033806d110d5493'},Diani Water Sports Extravaganza,Dive into thrilling water sports and enjoy the...,https://www.thesandsatnomad.com/wp-content/upl...,2200000
13,{'$oid': '651878301033806d110d5495'},Diani Wellness Retreat,"Rejuvenate your mind, body, and soul with a we...",https://dynamic-media-cdn.tripadvisor.com/medi...,2100000
14,{'$oid': '6518785c1033806d110d5497'},Malindi Coastal Exploration,Embark on a coastal adventure in the beautiful...,https://yellowzebrasafaris.com/media/46756/aer...,1850000
15,{'$oid': '651878c61033806d110d5499'},Malindi Marine Safari,Explore the underwater wonders of Malindi's ma...,https://ichef.bbci.co.uk/news/976/cpsprodpb/17...,1800000
16,{'$oid': '651878e71033806d110d549b'},Malindi Cultural Immersion,Experience the vibrant culture of Malindi thro...,https://eastafricanretreats.com/wp-content/upl...,1650000
17,{'$oid': '6518792a1033806d110d549d'},Watamu Coastal Retreat,Relax and unwind on the pristine beaches of Wa...,https://ajkenyasafaris.com/wp-content/uploads/...,2350000
18,{'$oid': '651879751033806d110d549f'},Watamu Island Paradise,Embark on a journey to Watamu Island and exper...,"https://res.cloudinary.com/enchanting/q_70,f_a...",2140000
19,{'$oid': '651879ac1033806d110d54a1'},Lamu Island Serenity,"Experience the tranquility of Lamu Island, its...",https://www.awaygowe.com/wp-content/uploads/20...,1950000
20,{'$oid': '651879cc1033806d110d54a3'},Lamu Cultural Odyssey,"Immerse yourself in Lamu's unique culture, his...",https://www.lamuholiday.com/swahili-culture/sw...,1670000
21,{'$oid': '65187a131033806d110d54a5'},Lamu Island Paradise Retreat,Escape to a secluded paradise on Lamu Island a...,https://themajlisresorts.com/wp-content/upload...,2930000
22,{'$oid': '65187a611033806d110d54a7'},Lamu Sailing Expedition,Embark on a sailing adventure in Lamu's turquo...,https://images.squarespace-cdn.com/content/v1/...,2980000
23,{'$oid': '65187b1d1033806d110d54a9'},Kilifi Beach Getaway,Relax on the stunning beaches of Kilifi and im...,https://images.squarespace-cdn.com/content/v1/...,2700000
24,{'$oid': '65187b6a1033806d110d54ab'},Kilifi Coastal Safari,Embark on a coastal safari adventure in Kilifi...,https://shanzubeachfront.com/wp-content/upload...,2700000
25,{'$oid': '65187bab1033806d110d54ad'},Kilifi Cultural Immersion,Experience the rich culture of Kilifi through ...,https://farm9.staticflickr.com/8471/2981154107...,1600000

In [100]:
combined = pd.concat([tours, adventures], ignore_index=True)

combined

,name,imageCover,ratingsAverage,ratingsQuantity,price,tour_data,getting_there_data,description,_id,adventureName,coverImage
0,Great Migration at Masai Mara Budget Safari,https://cloudfront.safaribookings.com/lib/keny...,5.0,2.0,550,{'overview': {'route_description': 'Witness an...,"['This tour starts and ends in Nairobi', 'This...",Witness an amazing annual event of the great m...,NaN,NaN,NaN
1,2Nights Amboseli National Park Aa Lodge Amboseli,https://cloudfront.safaribookings.com/lib/keny...,5.0,1.0,540,{'overview': {'route_description': 'This amazi...,"['This tour starts and ends in Nairobi', 'Book...","This amazing wild safari tour covers 3days, 2n...",NaN,NaN,NaN
2,Budget Tour to Lake Nakuru and Masai Mara,https://cloudfront.safaribookings.com/lib/keny...,5.0,1.0,765,{'overview': {'route_description': 'Experience...,"['This tour starts and ends in Nairobi', ""This...",Experience abundant wildlife (including the Bi...,NaN,NaN,NaN
3,"Masai Mara, Lake Nakuru National Park Lodge Sa...",https://cloudfront.safaribookings.com/lib/keny...,5.0,6.0,1080,{'overview': {'route_description': 'The Masai ...,"['This tour starts and ends in Nairobi', ""This...",The Masai Mara National Reserve is located in ...,NaN,NaN,NaN
4,Maasai Mara Mid-Range Safari(Group Joining Saf...,https://cloudfront.safaribookings.com/lib/keny...,4.3,6.0,530,"{'overview': {'route_description': ""Enjoy thri...","['This tour starts and ends in Nairobi', 'This...",Enjoy thrilling 3 days Masai Mara Safari start...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
98,NaN,NaN,NaN,NaN,2930000,NaN,NaN,Escape to a secluded paradise on Lamu Island a...,{'$oid': '65187a131033806d110d54a5'},Lamu Island Paradise Retreat,https://themajlisresorts.com/wp-content/upload...
99,NaN,NaN,NaN,NaN,2980000,NaN,NaN,Embark on a sailing adventure in Lamu's turquo...,{'$oid': '65187a611033806d110d54a7'},Lamu Sailing Expedition,https://images.squarespace-cdn.com/content/v1/...
100,NaN,NaN,NaN,NaN,2700000,NaN,NaN,Relax on the stunning beaches of Kilifi and im...,{'$oid': '65187b1d1033806d110d54a9'},Kilifi Beach Getaway,https://images.squarespace-cdn.com/content/v1/...
101,NaN,NaN,NaN,NaN,2700000,NaN,NaN,Embark on a coastal safari adventure in Kilifi...,{'$oid': '65187b6a1033806d110d54ab'},Kilifi Coastal Safari,https://shanzubeachfront.com/wp-content/upload...
102,NaN,NaN,NaN,NaN,1600000,NaN,NaN,Experience the rich culture of Kilifi through ...,{'$oid': '65187bab1033806d110d54ad'},Kilifi Cultural Immersion,https://farm9.staticflickr.com/8471/2981154107...

In [101]:
combined.to_csv('final_tours_and_adventures.csv', index=False)

# Lets Transform the experiences now

In [102]:
experiences.drop(['ratingsAverage', 'signatureSelection'], inplace=True, axis=1)
experiences.head()

,_id,name,description,coverImage,featured,adventureLevel,price,categories,personality
0,{'$oid': '64dfb10e7792cee05d3328d3'},Wasini Day Trip,Look for dolphins as you cruise the Indian Oce...,https://firebasestorage.googleapis.com/v0/b/ta...,gold,5.0,6500,"[{'$oid': '649d70292abb045a8a87dd55'}, {'$oid'...",[{'$oid': '64ae8f3995b15f2ab76b8383'}]
1,{'$oid': '64fc2511148fd2e0b23d5031'},Game Drive at Nairobi National Park,Experience the best of both worlds at Nairobi ...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"[{'$oid': '649d70292abb045a8a87dd4c'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8378'}, {'$oid'..."
2,{'$oid': '64fc3d483d690a3e195ee6a4'},Out of Africa Experience : Karen Blixen Museum,Step into the captivating world of Karen Blixe...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,4.0,5555,"[{'$oid': '649d70292abb045a8a87dd52'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8385'}, {'$oid'..."
3,{'$oid': '64fc46763d690a3e195ee6c6'},Lunch with Elephants : Sheldrick Wildlife Trust,Embark on a transformative journey at the Shel...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"[{'$oid': '649d70292abb045a8a87dd53'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b8388'}, {'$oid'..."
4,{'$oid': '64fc4dd63d690a3e195ee6ee'},Nairobi National Museum Tour,Explore the wonders of Kenya's rich heritage a...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,4.5,5555,"[{'$oid': '649d70292abb045a8a87dd4d'}, {'$oid'...","[{'$oid': '64ae8f3995b15f2ab76b837b'}, {'$oid'..."

In [104]:
categories = pd.read_json('tajriba.categories.json')
personalities = pd.read_json('tajriba.personalities.json')

In [105]:
categories

,_id,name,tags
0,{'$oid': '649d70292abb045a8a87dd4c'},safari,"[Wildlife, Adventure, Exploration, Nature, Wil..."
1,{'$oid': '649d70292abb045a8a87dd4d'},art,"[Creativity, Visual Arts, Painting, Sculpture,..."
2,{'$oid': '649d70292abb045a8a87dd51'},food,"[Cuisine, Cooking, Gastronomy, Recipes, Dining]"
3,{'$oid': '649d70292abb045a8a87dd52'},history,"[Heritage, Ancient, Historical Events, Archaeo..."
4,{'$oid': '649d70292abb045a8a87dd53'},nature,"[Wilderness, Biodiversity, Ecosystem, Hiking, ..."
5,{'$oid': '649d70292abb045a8a87dd54'},outdoors,"[Adventure, Camping, Hiking, Recreation, Nature]"
6,{'$oid': '649d70292abb045a8a87dd55'},sports,"[Athletics, Competition, Fitness, Team Sports]"
7,{'$oid': '649d70292abb045a8a87dd4e'},culture,"[Tradition, Heritage, Diversity, Folklore]"
8,{'$oid': '649d70292abb045a8a87dd4f'},drinks,"[Beverages, Cocktails, Coffee, Tea]"
9,{'$oid': '649d70292abb045a8a87dd50'},entertainment,"[Fun, Movies, Music, Events]"
10,{'$oid': '649d70292abb045a8a87dd56'},wellness,"[Health, Fitness, Meditation]"

In [106]:
personalities

,_id,name,icon,description,adventureLevel
0,{'$oid': '64ae8f3995b15f2ab76b8379'},Urban Explorer,🏙️,You're drawn to the excitement of bustling cit...,5
1,{'$oid': '64ae8f3995b15f2ab76b8375'},Foodie,🍽️,You live for a good meal at any time!,4
2,{'$oid': '64ae8f3995b15f2ab76b8385'},Film Enthusiast,🎥,"You appreciate the art of cinema, seeking movi...",4
3,{'$oid': '64ae8f3995b15f2ab76b8386'},Sports Fanatic,⚽,"You live and breathe sports, cheering for your...",4
4,{'$oid': '64ae8f3995b15f2ab76b8376'},Beach Lover,🏖️,You're at your happiest when your toes are in ...,6
5,{'$oid': '64ae8f3995b15f2ab76b837b'},Cultural Enthusiast,🎭,"You immerse yourself in diverse cultures, appr...",3
6,{'$oid': '64ae8f3995b15f2ab76b837d'},Backpacker,🎒,"You're always ready for a journey, exploring n...",10
7,{'$oid': '64ae8f3995b15f2ab76b837f'},Sun Chaser,☀️,"You thrive under the sun's warmth, seeking end...",5
8,{'$oid': '64ae8f3995b15f2ab76b8380'},Winter Soldier,⛄,"You love the magic of winter, embracing snow-c...",6
9,{'$oid': '64ae8f3995b15f2ab76b8383'},Wellness Seeker,🧘,You prioritize self-care and seek experiences ...,3
10,{'$oid': '64ae8f3995b15f2ab76b8388'},Photography Enthusiast,📷,You have a keen eye for capturing moments and ...,6
11,{'$oid': '64ae8f3995b15f2ab76b8378'},Nature Enthusiast,🌿,"You find solace in the great outdoors, seeking...",7
12,{'$oid': '64ae8f3995b15f2ab76b837a'},Fashion Connoisseur,👗,Your impeccable sense of style and love for fa...,3
13,{'$oid': '64ae8f3995b15f2ab76b837c'},Thrill Seeker,🎢,"You have an adventurous spirit, seeking adrena...",10
14,{'$oid': '64ae8f3995b15f2ab76b8381'},Tech Geek,🤓,You're passionate about technology and enjoy e...,1
15,{'$oid': '64ae8f3995b15f2ab76b8377'},Night Explorer,🌃,"The night is your playground, and you thrive o...",7
16,{'$oid': '64ae8f3995b15f2ab76b837e'},Business Professional,💼,You're driven by success and constantly seekin...,2
17,{'$oid': '64ae8f3995b15f2ab76b8382'},Art Aficionado,🎨,You appreciate and seek out artistic expressio...,2
18,{'$oid': '64ae8f3995b15f2ab76b8384'},Music Lover,🎵,"You have a deep passion for music, seeking con...",3
19,{'$oid': '64ae8f3995b15f2ab76b8387'},Romantic at Heart,💑,You adore romance and seek experiences that ce...,8