In [24]:
import pandas as pd

In [25]:
data = pd.read_csv('final_merged_data.csv')

In [26]:
data.head()

,user,liked,shared,bucketlist,purchased,attended,createdAt,score,age,gender,...,entertainment,wellness,name,description,coverImage,featured,adventureLevel,price,categories,personalities
0,1,0,0,0,0,0,6/19/23 17:27,0,35.0,Male,...,2.03,1.4,Trip to Nairobi Snake Park,\nDive into the fascinating world of reptiles ...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,6.0,5555,"['nature', 'outdoors']","['cityExplorer', 'photographyLover', 'natureLo..."
1,1,0,0,0,0,0,4/17/23 17:09,0,35.0,Male,...,2.03,1.4,Nairobi Mamba Village,Dive into an unforgettable reptilian adventure...,https://res.cloudinary.com/dwjoypmhg/image/upl...,none,6.0,5555,"['nature', 'outdoors']","['natureLover', 'cityExplorer', 'photographyLo..."
2,1,0,0,0,0,0,7/7/23 3:12,0,35.0,Male,...,2.03,1.4,Hangout with Giraffes,Step into a world of wonder at the Giraffe Cen...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"['safari', 'nature']","['photographyLover', 'natureLover']"
3,1,0,0,0,0,0,7/28/23 18:45,0,35.0,Male,...,2.03,1.4,Game Drive at Nairobi National Park,Experience the best of both worlds at Nairobi ...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"['safari', 'nature']","[ 'natureLover', 'photographyLover']"
4,1,1,1,1,1,0,3/21/23 13:53,4,35.0,Male,...,2.03,1.4,Game Drive at Nairobi National Park,Experience the best of both worlds at Nairobi ...,https://res.cloudinary.com/dwjoypmhg/image/upl...,gold,6.5,5555,"['safari', 'nature']","[ 'natureLover', 'photographyLover']"

In [27]:
data['createdAt'] = pd.to_datetime(data['createdAt'])
data.info()

/var/folders/p_/_14rnkjj10375jxl4nwlkdlc0000gn/T/ipykernel_5099/3587523092.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['createdAt'] = pd.to_datetime(data['createdAt'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2169 entries, 0 to 2168
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     2169 non-null   int64
 1   liked                    2169 non-null   int64
 2   shared                   2169 non-null   int64
 3   bucketlist               2169 non-null   int64
 4   purchased                2169 non-null   int64
 5   attended                 2169 non-null   int64
 6   createdAt                2169 non-null   datetime64[ns]
 7   score                    2169 non-null   int64
 8   age                      2139 non-null   float64
 9   gender                   2139 non-null   object
 10  accomodation_preference  2139 non-null   object
 11  avg_accomodation_cost    2139 non-null   object
 12  transport_preference     2128 non-null   object
 13  avg_transport_cost       2128 non-null   object
 14  safari                   2169 non-null   float64
 15  art                      2169 non-null   float64
 16  food                     2169 non-null   float64
 17  history                  2169 non-null   float64
 18  nature                   2169 non-null   float64
 19  outdoors                 2169 non-null   float64
 20  sports                   2169 non-null   float64
 21  culture                  2169 non-null   float64
 22  drinks                   2169 non-null   float64
 23  entertainment            2169 non-null   float64
 24  wellness                 2169 non-null   float64
 25  name                     2169 non-null   object
 26  description              2169 non-null   object
 27  coverImage               2169 non-null   object
 28  featured                 2169 non-null   object
 29  adventureLevel           2169 non-null   float64
 30  price                    2169 non-null   int64
 31  categories               2169 non-null   object
 32  personalities            2169 non-null   object
dtypes: datetime64[ns](1), float64(13), int64(8), object(11)
memory usage: 559.3+ KB

In [28]:
data = data.dropna()

In [29]:
data.isnull().sum()

user                       0
liked                      0
shared                     0
bucketlist                 0
purchased                  0
attended                   0
createdAt                  0
score                      0
age                        0
gender                     0
accomodation_preference    0
avg_accomodation_cost      0
transport_preference       0
avg_transport_cost         0
safari                     0
art                        0
food                       0
history                    0
nature                     0
outdoors                   0
sports                     0
culture                    0
drinks                     0
entertainment              0
wellness                   0
name                       0
description                0
coverImage                 0
featured                   0
adventureLevel             0
price                      0
categories                 0
personalities              0
dtype: int64

In [30]:
# Categorical columns for one-hot encoding
categorical_columns = ['gender', 'accomodation_preference', 'transport_preference', 'featured']

# One-hot encoding
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

In [31]:
data.head()

,user,liked,shared,bucketlist,purchased,attended,createdAt,score,age,avg_accomodation_cost,...,accomodation_preference_Villa,transport_preference_Bus,transport_preference_Car,transport_preference_Car rental,transport_preference_Ferry,transport_preference_Flight,transport_preference_Plane,transport_preference_Subway,transport_preference_Train,featured_none
0,1,0,0,0,0,0,2023-06-19 17:27:00,0,35.0,1200,...,False,False,False,False,False,True,False,False,False,True
1,1,0,0,0,0,0,2023-04-17 17:09:00,0,35.0,1200,...,False,False,False,False,False,True,False,False,False,True
2,1,0,0,0,0,0,2023-07-07 03:12:00,0,35.0,1200,...,False,False,False,False,False,True,False,False,False,False
3,1,0,0,0,0,0,2023-07-28 18:45:00,0,35.0,1200,...,False,False,False,False,False,True,False,False,False,False
4,1,1,1,1,1,0,2023-03-21 13:53:00,4,35.0,1200,...,False,False,False,False,False,True,False,False,False,False

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2128 entries, 0 to 2168
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   user                                     2128 non-null   int64
 1   liked                                    2128 non-null   int64
 2   shared                                   2128 non-null   int64
 3   bucketlist                               2128 non-null   int64
 4   purchased                                2128 non-null   int64
 5   attended                                 2128 non-null   int64
 6   createdAt                                2128 non-null   datetime64[ns]
 7   score                                    2128 non-null   int64
 8   age                                      2128 non-null   float64
 9   avg_accomodation_cost                    2128 non-null   object
 10  avg_transport_cost                       2128 non-null   object
 11  safari                                   2128 non-null   float64
 12  art                                      2128 non-null   float64
 13  food                                     2128 non-null   float64
 14  history                                  2128 non-null   float64
 15  nature                                   2128 non-null   float64
 16  outdoors                                 2128 non-null   float64
 17  sports                                   2128 non-null   float64
 18  culture                                  2128 non-null   float64
 19  drinks                                   2128 non-null   float64
 20  entertainment                            2128 non-null   float64
 21  wellness                                 2128 non-null   float64
 22  name                                     2128 non-null   object
 23  description                              2128 non-null   object
 24  coverImage                               2128 non-null   object
 25  adventureLevel                           2128 non-null   float64
 26  price                                    2128 non-null   int64
 27  categories                               2128 non-null   object
 28  personalities                            2128 non-null   object
 29  gender_Male                              2128 non-null   bool
 30  accomodation_preference_Guesthouse       2128 non-null   bool
 31  accomodation_preference_Hostel           2128 non-null   bool
 32  accomodation_preference_Hotel            2128 non-null   bool
 33  accomodation_preference_Resort           2128 non-null   bool
 34  accomodation_preference_Riad             2128 non-null   bool
 35  accomodation_preference_Vacation rental  2128 non-null   bool
 36  accomodation_preference_Villa            2128 non-null   bool
 37  transport_preference_Bus                 2128 non-null   bool
 38  transport_preference_Car                 2128 non-null   bool
 39  transport_preference_Car rental          2128 non-null   bool
 40  transport_preference_Ferry               2128 non-null   bool
 41  transport_preference_Flight              2128 non-null   bool
 42  transport_preference_Plane               2128 non-null   bool
 43  transport_preference_Subway              2128 non-null   bool
 44  transport_preference_Train               2128 non-null   bool
 45  featured_none                            2128 non-null   bool
dtypes: bool(17), datetime64[ns](1), float64(13), int64(8), object(7)
memory usage: 534.1+ KB

In [33]:
# Identify boolean columns
bool_columns = data.select_dtypes(include='bool').columns

# Convert boolean columns to integer
data[bool_columns] = data[bool_columns].astype(int)

# Display the updated DataFrame
data.head()

,user,liked,shared,bucketlist,purchased,attended,createdAt,score,age,avg_accomodation_cost,...,accomodation_preference_Villa,transport_preference_Bus,transport_preference_Car,transport_preference_Car rental,transport_preference_Ferry,transport_preference_Flight,transport_preference_Plane,transport_preference_Subway,transport_preference_Train,featured_none
0,1,0,0,0,0,0,2023-06-19 17:27:00,0,35.0,1200,...,0,0,0,0,0,1,0,0,0,1
1,1,0,0,0,0,0,2023-04-17 17:09:00,0,35.0,1200,...,0,0,0,0,0,1,0,0,0,1
2,1,0,0,0,0,0,2023-07-07 03:12:00,0,35.0,1200,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,2023-07-28 18:45:00,0,35.0,1200,...,0,0,0,0,0,1,0,0,0,0
4,1,1,1,1,1,0,2023-03-21 13:53:00,4,35.0,1200,...,0,0,0,0,0,1,0,0,0,0

In [34]:
data.describe().T

,count,mean,min,25%,50%,75%,max,std
user,2128.0,68.717105,1.0,34.0,69.0,104.0,139.0,41.337419
liked,2128.0,0.56297,0.0,0.0,1.0,1.0,1.0,0.496136
shared,2128.0,0.429511,0.0,0.0,0.0,1.0,1.0,0.495123
bucketlist,2128.0,0.292293,0.0,0.0,0.0,1.0,1.0,0.454923
purchased,2128.0,0.203477,0.0,0.0,0.0,0.0,1.0,0.402679
attended,2128.0,0.082237,0.0,0.0,0.0,0.0,1.0,0.27479
createdAt,2128,2023-07-16 00:31:52.584586240,2023-03-14 01:48:00,2023-05-12 12:06:15,2023-07-19 21:47:30,2023-09-15 17:33:15,2023-11-11 21:43:00,NaN
score,2128.0,1.572838,0.0,1.0,1.0,2.0,5.0,1.242317
age,2128.0,33.522086,20.0,28.0,31.0,38.0,60.0,7.210743
safari,2128.0,2.680047,1.13,1.72,2.025,3.19,5.0,1.288728
art,2128.0,1.384027,0.0,0.74,0.86,1.39,5.0,1.307747
food,2128.0,2.503731,0.82,1.61,2.33,2.95,5.0,1.100678
history,2128.0,1.773426,0.0,0.97,1.42,2.035,5.0,1.228881
nature,2128.0,1.761823,0.0,0.87,1.25,2.1175,5.0,1.388208
outdoors,2128.0,2.400916,0.86,1.62,2.01,2.95,5.0,1.063396
sports,2128.0,0.965747,0.0,0.57,0.76,0.94,5.0,1.021608
culture,2128.0,2.574478,0.8,1.61,2.04,3.1,5.0,1.341646
drinks,2128.0,2.347152,0.55,0.97,1.46,5.0,5.0,1.749911
entertainment,2128.0,2.679892,1.12,1.79,2.04,3.22,5.0,1.241394
wellness,2128.0,1.18141,0.0,0.56,0.75,1.07,5.0,1.351959
adventureLevel,2128.0,5.35094,4.0,4.5,5.333333,6.5,6.6,0.950731
price,2128.0,5534.161184,4500.0,5555.0,5555.0,5555.0,6500.0,364.187807
gender_Male,2128.0,0.515038,0.0,0.0,1.0,1.0,1.0,0.499891
accomodation_preference_Guesthouse,2128.0,0.005169,0.0,0.0,0.0,0.0,1.0,0.071728
accomodation_preference_Hostel,2128.0,0.166823,0.0,0.0,0.0,0.0,1.0,0.372906
accomodation_preference_Hotel,2128.0,0.462876,0.0,0.0,0.0,1.0,1.0,0.498737
accomodation_preference_Resort,2128.0,0.095865,0.0,0.0,0.0,0.0,1.0,0.294475
accomodation_preference_Riad,2128.0,0.005169,0.0,0.0,0.0,0.0,1.0,0.071728
accomodation_preference_Vacation rental,2128.0,0.020207,0.0,0.0,0.0,0.0,1.0,0.14074
accomodation_preference_Villa,2128.0,0.022556,0.0,0.0,0.0,0.0,1.0,0.148519
transport_preference_Bus,2128.0,0.038064,0.0,0.0,0.0,0.0,1.0,0.191396
transport_preference_Car,2128.0,0.020677,0.0,0.0,0.0,0.0,1.0,0.142333
transport_preference_Car rental,2128.0,0.098684,0.0,0.0,0.0,0.0,1.0,0.298308
transport_preference_Ferry,2128.0,0.006579,0.0,0.0,0.0,0.0,1.0,0.080862
transport_preference_Flight,2128.0,0.120771,0.0,0.0,0.0,0.0,1.0,0.325937
transport_preference_Plane,2128.0,0.403665,0.0,0.0,0.0,1.0,1.0,0.490747
transport_preference_Subway,2128.0,0.005639,0.0,0.0,0.0,0.0,1.0,0.074899
transport_preference_Train,2128.0,0.270207,0.0,0.0,0.0,1.0,1.0,0.444171
featured_none,2128.0,0.754229,0.0,1.0,1.0,1.0,1.0,0.430644

In [35]:
data.columns

Index(['user', 'liked', 'shared', 'bucketlist', 'purchased', 'attended',
       'createdAt', 'score', 'age', 'avg_accomodation_cost',
       'avg_transport_cost', 'safari', 'art', 'food', 'history', 'nature',
       'outdoors', 'sports', 'culture', 'drinks', 'entertainment', 'wellness',
       'name', 'description', 'coverImage', 'adventureLevel', 'price',
       'categories', 'personalities', 'gender_Male',
       'accomodation_preference_Guesthouse', 'accomodation_preference_Hostel',
       'accomodation_preference_Hotel', 'accomodation_preference_Resort',
       'accomodation_preference_Riad',
       'accomodation_preference_Vacation rental',
       'accomodation_preference_Villa', 'transport_preference_Bus',
       'transport_preference_Car', 'transport_preference_Car rental',
       'transport_preference_Ferry', 'transport_preference_Flight',
       'transport_preference_Plane', 'transport_preference_Subway',
       'transport_preference_Train', 'featured_none'],
      dtype='object')

In [37]:
data.to_csv('final_merged_data.csv', index=False)